body {
  font-size: 20px;
}

#calculadora {
  width: 120px;
  background: #C5CAE9;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
  border: 0px;
  border-radius: 25px;
  height: 150px;
}

#teclado {

}

#teclado input {
  background: #3F51B5;
  color: #FFFFFF;
  width: 30px;
  height: 30px;
  border-radius: 1px;
  border-style: solid;
}

#teclado input.sinal {
  background: #448AFF;
}

#teclado input.igual {
  background: #72B5A4;
}

#visor {
  background: #3F51B5;
  color: #FFFFFF;
  width: 118px;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 15px;
}